<nav [ngClass]="{'sidebar-expand': showMenu}" class="sidebar">
  <ul class="nav flex-column">
    <li class="nav-item" *ngFor="let menu of arr" placement="right" [routerLinkActive]="['active-menu']" [routerLinkActiveOptions]="{exact:true}" ngbTooltip="{{menu.data.title}}">
      <a class="nav-link" [ngClass]="{'nav-link-expand': showMenu}" (click)="setClickedRoute(menu)"[routerLink]="[menu.path]"> <i class="{{menu.data.icon}}"></i> <span *ngIf="showMenu"> {{menu.data.title}} </span></a>
    </li>
  </ul>
</nav>

<div class="subMenu-children" *ngIf="showChildren" [ngClass]="{'open': showChildren}">
  <div class="topSubMenu">
    <ul>
      <li class="title-top"><span>{{parentRoute.name}}</span></li>
      <li class="icon-top"> <i class="{{parentRoute.icon}}"></i></li>
    </ul>
  </div>
  <div class="contentSubMenu">
    <ul class="ml-3 pl-0">
      <li *ngFor="let subMenu of arrChildren">
        <a class="contentSubMenu-link" *ngIf="subMenu.children.length === 0" [routerLinkActive]="['contentSubMenu-link-active']" [routerLink]="[subMenu.data.link]">{{subMenu.data.title}} </a>
        <a class="contentSubMenu-link" *ngIf="subMenu.children.length > 0" (click)="showSubMenuChildren(subMenu)" [routerLinkActive]="['contentSubMenu-link-active']" [routerLink]="[subMenu.data.link]">{{subMenu.data.title}}  <i [ngClass]="(subMenu.show ? 'fas fa-chevron-up' : 'fas fa-chevron-down')"></i> </a>
        <ul *ngIf="subMenu.show" class="pl-3">
          <li *ngFor="let childSubMenu of subMenu.children">
            <a class="contentSubMenu-link" [routerLinkActive]="['contentSubMenu-link-active']" [routerLink]="[childSubMenu.data.link]">{{childSubMenu.data.title}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
