<nav [ngClass]="{'sidebar-expand': showMenu}" class="sidebar">
  <ul class="nav flex-column">
    <li class="nav-item" *ngFor="let menu of arr" placement="right" [routerLinkActive]="['active-menu']" [routerLinkActiveOptions]="{exact:true}" ngbTooltip="{{menu.data.title}}">
      <a class="nav-link" [ngClass]="{'nav-link-expand': showMenu}" (click)="setClickedRoute(menu)" [routerLink]="[menu.path]"> <i class="{{menu.data.icon}}"></i> <span *ngIf="showMenu"> {{menu.data.title}} </span></a>
    </li>
  </ul>
</nav>
<app-breadcrumb [route]="route"></app-breadcrumb>
