@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

$cinzaPadrao: #C1C1C1;
$cinzaEscuro: #58595B;
$azulPadrao: #0ad0ea;
$azulHover: #1473E6;
$header-img: './assets/img/bg-logo-menu.png';

/* SOBRESCREVER CSS DO BOOTSTRAP - INÍCIO */
html, body{
  overflow-x: hidden;
}
.tooltip-inner{
  background-color: $cinzaEscuro;
}
.bs-tooltip-right{
  & .arrow{
    &::before{
      right: 0;
      border-width: .4rem .4rem .4rem 0;
      border-right-color: $cinzaEscuro;
    }
  }
}

.page-header{
  padding-bottom: 9px;
  margin: 0px 0 20px 0;
  border-bottom: 1px solid #eee;
  width: 100%;
  & h4{
    color: $cinzaEscuro;
  }
}


/* SOBRESCREVER CSS DO BOOTSTRAP - FIM */

.sidebar-expand{
  width: 200px!important;
  transition: width  250ms 0s ease-in-out;
}
.nav-link-expand{
  width: 200px!important;
  transition: width  250ms 0s ease-in-out;
}

/* HEADER BAR - INÍCIO*/
.menu-bar{
  background-color: $cinzaEscuro;
  height: 50px;
  & .logo-box{
    background-image: url($header-img);
    height: 50px;
    width: 200px;
    float: left;
  }
  & .btn-toggle-menu{
    background-color: $azulPadrao;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
    float: left;
    left: -3%;
    top: 3px;
    cursor: pointer;
    & i{
      color: white;
      position: absolute;
      top: 31%;
      left: 35%;
    }
  }
  & .left-info{
    color: white;
    & .perfil-img{
      width: 30px;
      height: 30px;
      border-radius: 50px;
      margin-right: 10px;
    }
    & .perfil-nome{
      margin-right: 10px;
    }
    & .perfil-funcao{
      cursor: pointer;
      & :hover{
        color: $azulPadrao;
      }
    }
  }
  & .blk-logout{
    height: 50px;
    background-color: $cinzaPadrao;
    float: right;
  }
}
/* HEADER BAR - FIM */

/*SIDE BAR - INÍCIO*/
.sidebar{
  width: 50px;
  background-color: $cinzaEscuro;
  height: 100vh;
  float: left;
  transition: width 0.2s linear 0.2s;
  position: relative;
  z-index: 2;
  & .nav{
    & .nav-item{
      color: white;
      border-bottom: 1px solid white;
      cursor: pointer;
      & .nav-link{
        color: white;
        &:hover{
          color: $azulPadrao;
        }
      }
      &.active-menu{
        background-color: white;
        border-left: solid 2px $azulPadrao;
        color: $azulPadrao;
        & a{
          color: $azulPadrao;
          &:hover{
            color: $azulHover;
          }
        }
      }
    }
  }
}

.subMenu-children{
  background-color: white;
  height: 100vh;
  width: 300px;
  float: left;
  -webkit-box-shadow: 8px 0 35px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 0 35px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 0 35px -10px rgba(0, 0, 0, 0.75);
  position: relative;
  z-index: 1;
  & .topSubMenu{
    padding: 0;
    margin: 0;
    height: 50px;
    border-bottom: #ccc solid 1px;
    & ul{
      display: inline-block;
      list-style: none;
      padding: 10px 20px 0 20px;
      width: 100%;
      margin: 0;
      & li{
        float: left;
      }
      & .icon-top{
        color: $azulPadrao;
        float: right;
        height: 15px;
        & i {
          font-size: 0.8em;
          vertical-align: middle;
        }
      }
      & .title-top{
        color: $cinzaEscuro;
        & span{
          font-size: 1em;
        }
      }
    }
  }
  & .contentSubMenu{
    & ul {
      list-style: none;
      & li{
        & .contentSubMenu-link{
          color: $cinzaEscuro;
          &:hover{
            color: $azulPadrao;
            text-decoration: none;
          }
        }
        & .contentSubMenu-link-active{
          color: $azulPadrao;
          font-weight: bold;
        }
      }
    }
  }
}

/*SIDE BAR - FIM*/

/* BREADCRUMB - INÍCIO */

.breadcrumb{
  -webkit-box-shadow: 0px 5px 10px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 10px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 10px -6px rgba(0,0,0,0.75);
  background-color: white;
  width: 97%;
  position: absolute;
  margin-top: 0;
  top: 50px;
  margin-left: 50px;
  & .breadcrumb-item{
    list-style: none;
    display: inline-block;
    & span{
      color: $cinzaEscuro;
    }
    & a{
      cursor: pointer;
    }
    &.active{
      & span{
        color: $azulPadrao;
        font-weight: bold;
      }
    }
  }
}

/* BREADCRUMB - FIM */

/* COMMON CLASS - INICIO */
.full-width{
  width: 100%;
}
/* COMMON CLASS - FIM */
